 .fixed-panel{
     padding: 1rem;
     background-color: #f0f0f0;
     height: 100%;
     overflow: hidden;

 }
 .scroll-panel {
     height: 100%;
     overflow: auto;
     padding: 1rem;
     background-color: #ffffff;
 }

 .long-content {
     height: auto;
 }
