 <div class="flex flex-wrap align-items-center justify-content-center mt-8">
     <p-card class="p-8">
          <p-toast />
         <p-fileupload
             #fu
             name = "uploadedFiles[]"
             url = "/public/json"
             (onSelect) = "onUpload($event)"
             [multiple] = "false"
             auto="true"
             accept = "application/json"
             maxFileSize = "5000000"
             mode = "advanced"
             chooseLabel = "Seleccionar Archivo"
             uploadLabel = "Subir"
             cancelLabel = "Cancelar"
         >
             <ng-template #empty>
                 <div>Arrastre y suelte el archivo aquí para cargarlo.</div>
             </ng-template>

         </p-fileupload>
         <div>

             @if(filename){
                 <h4>Contenido del archivo {{ filename }}</h4>
                 <pre>{{ contents }}</pre>

             }@else{
                 <h4>Ningún archivo sleccionado</h4>
             }
         </div>

    </p-card>
 </div>

 <!-- Subida de archivos con Http
 https://platzi.com/clases/2495-angular-apis/41424-subida-de-archivos-con-http/ -->

 <!-- https://www.youtube.com/watch?v=0Y-aiawjkXc
 Cómo ENVIAR archivos mediante HTTP en Angular ⚡Tutorial Completo 2023 -->
