<div>
     <p-toast/>
     <p-dialog
     header="✅ Pago Exitoso"
         [(visible)]="showSuccess"
         modal="true"
         [closable]="false"
         [style]="{width: '30vw'}"
         [contentStyle]="{textAlign: 'center'}"
         >
         <div class="success-content">
             <i class="pi pi-check-circle" style="font-size: 3rem; color: green;"></i>
             <p style="margin-top: 1rem; font-size: 1.2rem;">
                 ¡Tu pago se ha procesado correctamente!
             </p>
             <button pButton type="button" label="Aceptar" (click)="closeDialog()" class="p-button-success mt-3"></button>
         </div>
     </p-dialog>

     <p-confirmdialog/>
     <p-table #dt
         [columns] = "cols()"
         [value] = "cart()"
         responsiveLayout = "scroll"
         [paginator] = "true"
         currentPageReportTemplate = "Mostrando {first} a {last} de {totalRecords} entradas"
         [rows] = "10" [showCurrentPageReport]="true"
         [rowsPerPageOptions]="[10,25,50]"
         stripedRows
         styleClass = "p-datatable-sm p-datatable-gridlines p-datatable-striped p-datatable-customers"
         [scrollable] = "true"
         scrollHeight = "350px"
         [tableStyle] = "{'min-width': '75rem'}"
         [autoLayout] = "true">
         <ng-template pTemplate="caption">
             <div class="flex align-items-center justify-content-between">
                 <span class="text-2xl font-bold text-red-500" >Products in cart</span>
                 <div class = "flex align-items-end">
                     <p-iconfield>
                         <p-inputicon class="pi pi-search" />
                         <input
                             pInputText
                             type="text"
                             (input)="dt.filterGlobal($event.target.value, 'contains')"
                             placeholder ="Buscar"
                             size="small"
                             [disabled]="isDisabled()"
                         />

                     </p-iconfield>
                     <p-button
                         label="Borrar todos"
                         (click) = "confirm(null)"
                         icon="pi pi-trash"
                         class="ml-2"
                         type="button"
                         [disabled]="isDisabled()"
                     />
                 </div>
             </div>
         </ng-template>
         <ng-template #header let-columns>
             <tr class="p-selectable-row font-bold text-primary">
                 @if(cart().length > 0) {
                     @for (col of columns; track col.field) {

                         <th pSortableColumn="{{col.field}}" pSortableColumnDisabled="{{col.sortableColumnDisabled}}">

                             {{col.header}}
                             @if(!col.sortableColumnDisabled) {
                                 <p-sortIcon field="{{col.field}}" />
                             }

                        </th>
                     }

                     <th style="text-align:center;">Acciones</th>
                 }

             </tr>

         </ng-template>
         <ng-template pTemplate="body" let-rowData let-columns="columns">
             <tr class="p-selectable-row font-table">
                 @for (col of columns; track col) {
                     <td>
                         @switch(col.contentType) {
                             @case('image-avatar'){
                                 <p-avatar  shape="circle">
                                     <img src="{{rowData[col.field] }}" crossorigin="anonymous">
                                 </p-avatar>

                             }
                             @case('string'){
                                 <label> {{rowData[col.field]}}</label>
                             }
                             @case('currency'){
                                 <div class="flex justify-content-end flex-wrap">
                                     <label> {{rowData[col.field] | currency: 'EUR'}}</label>
                                 </div>
                             }
                             @case('number'){
                                 <div class="flex justify-content-end flex-wrap">
                                     <label> {{rowData[col.field] | number}}</label>
                                 </div>
                             }
                             @case('object'){
                                 <span> {{rowData[col.field].name}}</span>
                             }
                             @case('image-array'){
                                 <p-image src="{{rowData[col.field][0]}}" width="30" [preview]="true"/>
                             }
                             @case('image'){
                                 <img src="{{rowData[col.field]}}" crossorigin="anonymous" width="30"/>
                             }
                         }
                     </td>
                 }

                 <td>
                     <div class="flex justify-content-center flex-wrap">
                         <p-button
                             class = ""
                             (click) = "confirm(rowData)"
                             icon = "pi pi-trash"
                             styleClass = "p-button-sm p-button-rounded p-button-outlined"
                             pTooltip = "Eliminar: {{rowData.title}}"   >
                         </p-button>
                     </div>

                 </td>
             </tr>
         </ng-template>
         <ng-template pTemplate="emptymessage" let-c>
         <tr>
            <td [attr.colspan]="c.length">
                 <div class="flex align-items-center justify-content-center">

                     <i class="pi pi-search mr-2" style="font-size: 2rem"></i>
                     <p>No existen registros</p>
                 </div>

            </td>
        </tr>
         </ng-template>
         <ng-template pTemplate="summary">
             @if(cart().length > 0) {

                 <div class="flex justify-content-between flex-wrap">
                     <div class="flex flex-column align-items-start justify-content-center ml-2">
                         <span class="text-surface-900 dark:text-surface-0 text-2xl !leading-tight">Registros: {{cart().length | number }}</span>
                         <span class="text-surface-900 dark:text-surface-0 text-2xl !leading-tight">Productos: {{cartService.counProducts() | number }}</span>
                         <span class="text-surface-900 dark:text-surface-0 text-2xl !leading-tight">Valor total: {{cartService.total() | currency: 'EUR'}}</span>
                     </div>

                     <div class="flex flex-column align-items-start justify-content-center ml-2">
                         @if(showSpinner){
                             <div class="card flex justify-center">
                                 <p-progress-spinner
                                     strokeWidth="8"
                                     fill="transparent"
                                     animationDuration=".5s"
                                     [style]="{ width: '50px', height: '50px' }"
                                 />
                             </div>
                         }
                     </div>

                     <div class="flex align-items-center justify-content-center mr-2 mt-2">
                         <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                     </div>

                 </div>
             }
         </ng-template>
     </p-table>
 </div>
