 <section class="bg-white h-screen w-screen p-10">
     <div class="py-8 px-4 mx-auto">
         <div class="mx-auto max-w-screen-sm text-center">
             <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl ">Acceso no autorizado.</p>
             <p class="mb-4 text-lg font-light text-gray-500 ">Lo siento, No tienes acceso a esta página. </p>
             <p-button label="Volver a la página de inicio" size="small" routerLink = "/"></p-button>
         </div>
     </div>
 </section>

